* {
    margin: 0;
    padding: 0; 
}

div {
    display:block;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	font-size: 100%;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero {
	position:fixed;
    top:0;
	z-index: 999;
}
		
.header {
	transition: all 300ms ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.fixed {
    position: fixed;
    background: white;
    z-index: 999;
    width: 100%;
	box-shadow: 0 4px 4px -2px rgba(5, 5, 5, 0.2);
}

.navbar {
	padding: 50px 0;
	border-radius: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
	font-size: 1.5em !important;
	font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    width: 60%;
    margin: 0 auto;
    -webkit-transition: padding 300ms ease-in-out;
    transition: padding 300ms ease-in-out;
}

.navbar.compressed { 
	padding: 30px 0;
	border-bottom: none;
}  

.navbar.compressed .left li a { 
	color: #033193;
} 

.nav li a {
	color: #fff;
}

.nav.left li a:hover {
	color: #ff8c1a;
}

.nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
  }
  
#contact {
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}

#contact:hover {
	background: rgba(255, 255, 255, 0.2);
}

.navbar.compressed #contact {
	border-radius: 10px;
}

.navbar.compressed #contact:hover {
	background: #0575e6;
}

.icon-bar
{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #fff;
}	

.compressed .icon-bar 
{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px;
    border:1px solid #033193;
}
  
.hero-text {	
	z-index: 4;
    text-align: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text h1 {
	font-size: 8em;
	font-weight: 900;
}

.scroll {
	text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials {
	position: fixed;
	text-align: center;
    position: absolute;
    top: 45%;
    left: 0%;
}

.socials ul {
	z-index: 999;
	position: fixed;
}
	
.socials li {
	display: block;
	margin-top: 25%;
   width: 25px;
}

.socials li img{
	width: 170%;
}

.socials a:hover {
	opacity: 0.33;
}

#wrapper {
    height:100%;
    width:100%;
}

.panels {
    position:relative;
    min-height:100%;
    width:100%;
}

#a{
	height: 100vh;
    position: fixed;
    top:0;
    z-index:-99;
}

.blueback {
	background: linear-gradient(to right, #0575e6, #021b79);
}

.redback {
	background: linear-gradient(to right, #42275a, #734b6d);
}

.yellowback {
	background: linear-gradient(to right, #f09819, #edde5d);
}

.bluecontact {
	background: #0575e6;
}

.redcontact {
	background: #42275a;
}

.yellowcontact {
	background: #edde5d;
}

#b{
   margin-top: 50%;
   background: #F7F7F7;
}

#e{
   background: #F7F7F7;
}

.skills {
	width: 60%;
	border-radius: 0;
    border-bottom: solid 1px rgba(5, 5, 5, 0.2);
    margin: auto;
	padding-bottom: 4%;
}

.skills img {
		width: 50%;
}

.skills-text h1 {
	font-size: 2.5em;
}	

.skills .row {
	margin-top: 5%;
}

.skills p {
	font-size: 1.5em !important;
	font-weight: 500;
	text-align: left;
}

#right {
	text-align: right;
}

#c{
	background: #fff;
}

.showcase {
	position: relative;
	min-height: 90vh;
	width: 60%;
	margin: auto;
	border-radius: 0;
    border-bottom: solid 2px rgba(5, 5, 5, 0.2);
}

.showcase .tab-content {
	position: absolute;
	min-height: 70vh;
	top: 50%; 
	left: 50%;
	transform: translate(-50%,-50%);
}

.selector {
	width: 60%;
	border-radius: 0;
    border-bottom: solid 1px rgba(5, 5, 5, 0.2);
    margin: auto;
	padding-bottom: 4%;
}

.selector img {
		width: 50%;
		opacity: 0.3;
}

.selector img:hover {
		opacity: 0.6;
}

.current img {
	opacity: 1.0;
}

.selector-text h1 {
	font-size: 2.5em;
}	

.selector .row {
	margin-top: 5%;
}

.selector p {
	font-size: 1.5em !important;
	font-weight: 500;
	text-align: left;
}

.examples {
	margin:0 auto;
}

#home a img {
		width: 90%;
    	display: block;
	margin-top: 3%;
   	margin-left: auto;
    	margin-right: auto;
}

#home p, #menu1 p, #menu2 p, #menu3 p {
	font-size: 1.75em;
}	

#home .row, #menu1 .row, #menu2 .row, #menu3 .row {
	margin-top: 9%;
}

#menu1 img {
		width: 50%;
    	display: block;
	margin-top: 3%;
   	margin-left: auto;
    	margin-right: auto;
}

#menu2 img {
		width: 90%;
    	display: block;
	margin-top: 3%;
   	margin-left: auto;
    	margin-right: auto;
}

#menu3 img {
		width: 90%;
    	display: block;
	margin-top: 3%;
   	margin-left: auto;
    	margin-right: auto;
}

#about {
	height: 100vh;
	background: #fff;
}

#d{
	position: relative;
	min-height: 80vh;
}

#d .container {
	position: absolute;
	min-height: 60vh;
	top: 50%; 
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1.5em !important;
	font-weight: 500;
	text-align: left;
}

input[type=text], select, textarea {
	background: #F7F7F7;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
	letter-spacing: 2px;
    background-color: #3399ff;
    color: white;
    padding: 17px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input[type=text]:hover {
    background-color: #fff;
}

input[type=submit]:hover {
    background-color: #0575e6;
}

label {
	color: #fff;
	letter-spacing: 2px;
}

#d .container {
    border-radius: 5px;
    padding: 20px;
}

footer {
	height: 20vh;
	width: 100%;
	background: #F7F7F7;
}


	







